@import "tailwindcss";

/* TODO: Remove as much as possible for tailwind style */

body {
  background-color: #f7f9fb;
}

.comparison-container {
  min-height: 300px;
  position: relative;
  background-color: #eef2f6;
  border: 2px solid #cbd5e1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen-box {
  position: absolute;
  border: 4px solid;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  opacity: 0.85;
  box-sizing: content-box;
}
